[files]
file_location=uploads
summary_location=results/granite-3-2-8b-instruct

[general]
ai_to_use=wxai

[ollama]
model_name=deepseek-r1:8b
host=localhost:11434

[watsonx.ai]
api_key=your_api_key
project_id=your_project_Id
model_name=ibm/granite-3-2-8b-instruct
#model_name=meta-llama/llama-3-3-70b-instruct
