[files]
file_location=uploads
summary_location=results/granite-3-2-8b-instruct

[general]
ai_to_use=wxai

[ollama]
model_name=deepseek-r1:8b
host=localhost:11434

[watsonx.ai]
api_key=upPIv5l0NoPyhFeyyYGm-v-bG2quKbFTwf4bj2Fg_Ebg
project_id=60492a36-a613-47d2-85d7-241078268e44
model_name=ibm/granite-3-2-8b-instruct
#model_name=meta-llama/llama-3-3-70b-instruct
